/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/* My code starts here */
*,*:after,*:before {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway';
}

/* this is the header accross all pages */
header {
    background: #3C3B3A;
}

/* this is the ARC logo on all pages, I centered it and brought down the size */
.logo-image {
    width: 88px;
    display: block;
    margin: auto;
}

.active {
    font-weight: bold;
}

/* nav: the nave is stacked with space between all page names*/
nav ul li a {
    text-align: center; 
    padding: 15px 0;
    margin: 0 auto; 
    display: block;
    font-size: 16px;
}

/* I took out the defalt text decor and changed the color for the link and visited */
nav ul li a:link,
nav ul li a:visited {
    text-decoration: none;
    color: #f2f2f2;
}

/* I made the font bold for when you hover over and click on a menu item */
nav ul li a:hover,
nav ul li a:active {
    color: #f2f2f2;
    text-decoration: none;
    font-weight: bold;
}

/* this is the base styling on the main section */
main, .copy {
    margin: 35px 39px;
    color: #3C3B3A;
}

/* this styles the h1 of the top section on each page  */
.head-info h1, .about-top h1, .contact-top h1 {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 30px;
    line-height: 45pt;
}

/* This is the text styling on all p tags on a white background */
.head-info p, .copy p, .copy-pub p, .about-top p, .who p, .lounge p, .bowling p, .fitness p, .climbing p, .contact-top p {
    font-size: 20px;
    line-height: 30pt;
    padding-bottom: 30px;
}

/* these are the active icons, I put them in a grid. */
.active .active-icons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
}

.active-icons .box-1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.active-icons .box-2 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.active-icons .box-3 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.active-icons .box-4 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.active-icons .box-5 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

.active-icons .box-6 {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
}

/* This styling is to center the icons and add space between them */
.active-icons img {
    display: block;
    margin: auto;
    padding-bottom: 10px;
}

/* This is for the icon captions, I addedthe color and spacing */
figcaption {
    text-align: center;
    color: #26A682;
    padding-bottom: 20px;
}

/* this is the start button, I set the size and added color, I also put a border radius on it and a dropshadow */
.start-btn {
    width: 100%;
    height: 50%;
    background-color: rgb(38, 166, 130);
    border-radius: 40pc;
    font-size: 32px;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(18, 74, 58, 50%)
}

.start-btn a {
    text-decoration: none;
    color: #F2F2F2;
}

/* This section is the styling on all the drawn images (except the school one), I set a size and centered it */
.reading-img img, .construction-img img, .social-img img {
    padding-top: 30px;
    width: 100%;
    display: block;
    margin: auto;
}

.scroll-btn {
    display: none;
}


/* this is for the school drawn image, it has no padding on top */
.school-img picture {
    width: 100%;
    display: block;
  }

.school-img picture .img-school {
    width: 100%;
}

/* this styling is specifically for h1's that are in italics, across all pages. */
.copy h1, .copy-pub h1 {
    font-size: 32px;
    font-style: italic;
    font-weight: bolder;
    line-height: 47pt;
}

/* this styling is on all the h2s (subheadings) that are green*/
.copy h2, .copy-pub h2, .lounge h2, .bowling h2, .fitness h2, .climbing h2 {
    font-size: 24px;
    padding-bottom: 10px;
    color: #26A682;
}

/* this is the styling on the "learn more" buttons they have the same styling as the "get started" button, except that they are only half the width of the page and the text is slightly smaller. */
.more-btn {
    width: 50%;
    height: 45px;
    background-color: rgb(38, 166, 130);
    border-radius: 40pc;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    padding: 14px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(18, 74, 58, 50%); 
}

.more-btn a {
    color: #F2F2F2;
    text-decoration: none;
}

.btn-more {
    display: flex;
    justify-content: end;
}

/* this is the section with Simon's bio */


.simon {
    background-color: #3C3B3A;
    padding-top: 32px;
}

/* this is the round profile image, it has a border and a border radius */
.simon img{
    width: 175px;
    border-radius: 50%;
    border: 5px solid #F2F2F2;
    display: block;
    margin: auto;
}


.simon h2{
    text-align: center;
    font-size: 24px;
    font-weight: 175;
    color: #F2F2F2;
    line-height: 5pt;    
    padding-top: 35px;
}

.simon p {
    font-size: 20px;
    line-height: 30pt;
    padding: 35px 39px;;
    color: #F2F2F2;
}

.pub-img picture img {
    width: 100%;
    display: block;
}

.copy-pub {
    margin: 35px 39px;
}

footer {
    background: #3C3B3A;
    padding: 35px 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    position: relative;
}

footer .follow {
    font-size: 24px;
    color: #F2F2F2;
    text-align: center;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

footer .social {
    padding: unset;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    flex-direction: row;
    margin: auto;

}

footer .social img {
    padding: 2px 3px;
}

footer .top-arrow a {
    background-color: unset;
    border: unset;
    font-size: 9px;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20px;
    bottom: 45px;
    text-decoration: none;
    color: #F2F2F2;
}

footer .top-arrow img {
    width: 22px;
    align-self: center;
    padding-bottom: 5px;
}

/* about page starts here */
.construction-img img {
    padding-top: unset;
}

.about-img img, .services-img img{
    width: 100%;
    display: inline-block
}

.about-img, .services-img {
    position: relative;
}

.about-img h1, .services-img h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F2F2F2;
    font-size: 50px;
    font-weight: bold;
}

.who, .bowling, .climbing {
    padding: 35px 39px;
    background-color: #F2F2F2;
}
.who h1{
    font-size: 32px;
    font-weight: 600;
    font-style: italic;
    padding-bottom: 12px;
}

.lounge-img, .bowling-img, .climbing-img, .fitness-img {
    display: none;
}

.lounge, .fitness {
    padding: 35px 39px;
}

.lounge h1, .bowling h1, .fitness h1, .climbing h1, .location-info h1 {
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 12px; 
    line-height: 30pt;
    color: #3C3B3A;
}

.subscribe {
    background-color: #3C3B3A;
    padding: 35px 39px;
    color: #F2F2F2;
}

.subscribe p {
    text-align: center;
    padding-bottom: 35px;
}

.subscribe .sub-btn {
    width: 50%;
    height: 45px;
    background-color: rgb(38, 166, 130);
    border-radius: 40pc;
    font-size: 18px;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 12px;
    cursor: pointer;
    margin: auto;
}

.sub-btn a {
    color: #F2F2F2;
    text-decoration: none;
}

.thank-you h1{
    padding: 35px 39px;
    font-size: 55px;
    font-weight: bold;
}

.logo img {
    padding: 35px 39px;
    width: 70%;
    display: block;
    margin: auto;
}

.logo-sa img {
    width: 90%;
}

.logo-cibc img {
    padding-bottom: 60px;
}

/* contact form starts here */
.contact {
    margin: 25px 29px;
}

.contact .contact-form {
    margin: 0 auto;
    padding: 8%;
    max-width: 535px;
    background-color: #26A682;
    background-position: center bottom;
    border-radius: 2em;
    box-shadow: 0 5px 10px rgba(18, 74, 58, 50%); 
    color: #F2F2F2;
}

.contact .contact-form .section-title {
    font-size: 40px;
    color: #F2F2F2;
    font-weight: bold;
    padding-bottom: 20px;
}

.submit {
    width: 100%;
    height: 50px;
    background-color:#3c3b3a;
    border-radius: 40pc;
    border: unset;
    font-size: 32px;
    font-weight: bold;
    display: block;
    text-align: center;
    color: #F2F2F2;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(18, 74, 58, 50%)
}

#contact input[type="text"] {
    width: 100%;
    height: 40px;
    border-radius: 40pc;
    border: unset;
	background-color:#F4F4F5;
	margin: 9px 0 18px;
    padding: 15px 22px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #3C3B3A;
    font-weight: normal;
}

#contact textarea[name="message"] {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    border: unset;
	background-color:#F4F4F5;
	margin: 9px 0 18px;
    padding: 10px 22px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #3C3B3A;
    resize: none;
}

.location-info {
    margin: 35px 39px;
    color: #3C3B3A;
}

.location-info h2 {
    font-size: 24px;
    padding-bottom: 10px;
    line-height: 35px; 
}

.location-info p {
   line-height: 35px; 
}

.map iframe {
    width: 100%;
    display: block;
}


/* tablet view */
@media (min-width: 700px) {
    .nav-logo {
        padding: 2px 80px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .logo-image {
        width: 80px;
        margin: unset;
        grid-column: 1, span 1;
    }
    
    nav ul {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        grid-column: 2, span 1;
    }

    nav ul li a {
        text-align: end;
        font-size: 18px;
        padding-left: 30px;
        padding-top: 30px;
    }

    main, .copy {
        margin: 95px 80px 35px 80px;
    }

    .head-info h1, .about-top h1, .contact-top h1 {
        font-size: 72px;
        font-weight: bolder;
        padding-bottom: 30px;
        line-height: 85pt;
    }
    
    .head-info p, .copy p, .copy-pub p, .about-top p, .who p, .lounge p, .bowling p, .fitness p, .climbing p, .contact-top p {
        font-size: 24px;
        line-height: 30pt;
    }
    
        /* these are the active icons, I put them in a grid. */
    .active .active-icons{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
  
    }

    .active-icons .box-1 {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    .active-icons .box-2 {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }

    .active-icons .box-3 {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }

    .active-icons .box-4 {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }

    .active-icons .box-5 {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
    }

    .active-icons .box-6 {
        grid-column: 3 / span 1;
        grid-row: 2 / span 1;
    }

    .active-icons .box-7 {
        grid-column: 4 / span 1;
        grid-row: 1 / span 1;
    }

    .active-icons .box-8 {
        grid-column: 4 / span 1;
        grid-row: 2 / span 1;
    }

    .start-btn {
        width: 300px;
        height: 65px;
        font-size: 40px;
        margin: auto;
        padding: 12px;
    }

    .scroll-btn {
        padding-top: 35px;
        display: grid;
        justify-content: center;
        text-align: center;
        line-height: 30px;
    }

    .scroll-btn img {
        transform: rotate(180deg);
    }

    .school-img img {
        width: 100%;
    }

    .copy {
        margin: 50px 80px;
    }

    .copy h1, .copy-pub h1 {
        font-size: 40px;
        line-height: 47pt;
    }
    
    .copy h2, .copy-pub h2, .lounge h2, .bowling h2, .fitness h2, .climbing h2 {
        font-size: 32px;
        padding: 25px 0;
    } 

    .more-btn {
        width: 230px;
        font-size: 25px;
        padding: 10px;
    }


    .bio {
        background-color: #3c3b3a;
        
    }

    .simon {
        padding: 50px 80px;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 2.1rem);
    }

    .bio-1 {
        grid-column: 1 / span 3;
        grid-row: 1 / span 3;
    }

    .simon h2 {
        font-size: 22px;
    }

    .bio-2 {
        grid-column: 1 / span 3;
        grid-row: 7 / span 2;
    }

    .bio-3 {
        align-self: end;
        grid-column: 1 / span 3;
        grid-row: 8 / span 2;
    }

    .simon p {
        line-height: 27pt;
        padding: unset;
    }

    .bio-4 {
        grid-column: 5 / 11;
        grid-row: 1 / span 4;
    }

    .social {
        padding: 13px 280px;
    }

    .who {
        padding: 50px 80px;
    }    

    .who h1{
        font-size: 40px;
    }

    .who p {
        font-size: 18px;
        line-height: 35pt;
    }

    .lounge, .bowling, .fitness, .climbing {
        padding: 50px 80px;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(9, 42px);
    }

    .lounge-img, .fitness-img {
        display: block;
        width: 100%;
        height: 375px;
        grid-column: 1 / span 3;
        grid-row: 1 / span 1;
    }

    .lounge-h1, .fitness-h1 {
        grid-column: 4 / span 4;
        grid-row: 1 / span 6;
    }

    .lounge h2, .bowling h2, .fitness h2, .climbing h2{
        padding: 10px 0;
    }

    .lounge-h2, .fitness-h2 {
        grid-column: 4 / span 4;
        grid-row: 2 / span 1;
    }

    .lounge p, .bowling p, .fitness p, .climbing p {
        padding-top: 10px;
        font-size: 18px;
    }

    .lounge-p, .fitness-p {
        grid-column: 4 / span 6;
        grid-row: 3 / span 3;
    }

    .lounge-img img, .bowling-img img, .fitness img, .climbing img{
        height: 375px;
    }

    .bowling-img, .climbing-img {
        display: block;
        width: 100%;
        height: 375px;
        grid-column: 6 / span 3;
        grid-row: 1 / span 1;
        padding-left: 28px;
    }

    .bowling-h1, .climbing-h1 {
        grid-column: 1 / span 5;
        grid-row: 1 / span 1;
    }

    .bowling-h2, .climbing-h2 {
        grid-column: 1 / span 4;
        grid-row: 2 / span 1;
    }

    .bowling-p, .climbing-p {
        grid-column: 1 / span 5;
        grid-row: 3 / span 10;
    }

    .thank-you h1{
        padding: 35px 140px;
        font-size: 55px;
        font-weight: bold;
        text-align: center;
        line-height: 60pt;
    }
    
    .logo img {
        padding: 35px 140px;
        width: 60%;
        display: block;
        margin: auto;
    }
    
    .logo-sa img {
        width: 90%;
    }
    
    .logo-cibc img {
        padding-bottom: 60px;
    }

    .social-img img {
        width: 80%;
    }

    /* contact form starts here */
    .contact {
        margin: 25px 45px;
    }

    .contact .contact-form {
        max-width: 90%;
    }

    .contact .contact-form .section-title {
        font-size: 70px;
    }

    .submit {
        width: 210px;
        height: 65px;
        font-size: 40px;
    }

    .submit-btn {
        display: flex;
        justify-content: flex-end;
    }

    .contact-form label {
        font-size: 24px;
    }

    #contact input[type="text"] {
        height: 50px;
	    margin: 25px 0 25px;
        padding: 15px 35px;
        font-size: 16px;
    }

    #contact textarea[name="message"] {
        height: 148px;
	    margin: 25px 0 30px;
        padding: 15px 35px;
        font-size: 16px;
        color: #3C3B3A;
    }

    .location-info {
        margin: 86px 80px 50px;
    }

    .location-info h1 {
        font-size: 72px;
        padding-bottom: 48px; 
    }

    .location-info h2 {
        font-size: 40px;
        line-height: 47pt;
        padding-bottom: 48px;
    }

    .location-info p {
        font-size: 18px;
    }
    

    .map iframe{
        height: 500px;
    }

}

/* desktop view */
@media (min-width: 1200px) {
    .nav-logo {
        padding: 2px 140px
    }

    nav ul li a{
        text-align: end;
        font-size: 18px;
        padding-left: 40px;
    }

    nav ul li a:link,
    nav ul li a:visited {
        padding-left: 40px;
    }


    .head-content {
        margin: 80px 120px;
        display: grid;
        grid-template-columns: repeat(14, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .head-info {
        grid-column: 1 / span 6;
        grid-row: 2 / span 4;
    }

    .head-info h1 {
        font-size: 60px;
        line-height: 50pt;
        padding-bottom: 20px;
    }

    .head-info p {
        font-size: 20px;
        line-height: 25pt;
    }

    .active {
        grid-column: 1 / span 5;
        grid-row: 5 / span 1;

    }
/* 
    .active .active-icons figcaption{
        display: flex;
        justify-content: flex-start;
        font-size: 13px;
    } */

    .start-btn {
        grid-column: 1 / span 4;
        grid-row: 6 / span 1;
    }

    .scroll-btn {
        grid-column: 7 / span 1;
        grid-row: 7 / span 1;
    }

    .reading-img {
        grid-column: 7 / span 9;
        grid-row: 1 / span 8;  
    }

    .discover-1 {
        padding: 80px 120px;
        background-color: #f2f2f2;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .school-img {
        width: 100%;
        grid-column: 1 / span 1;
    }

   .copy {
        grid-column: 2 / span 1;
        margin: 0 0 0 40px;
    }

    .copy h2 {
        padding: 8px 0;
    }

    .copy p {
        font-size: 18px;
    }

    .copy .more-container {
        display: flex;
        justify-content: flex-end;
    }

    .simon {
        padding: 40px 120px;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .bio-1 {
        grid-column: 1 / span 2;
        grid-row: 1 / span 3;
    }

    .simon h2 {
        font-size: 22px;
    }

    .bio-2 {
        grid-column: 3 / span 2;
        grid-row: 1 / span 1;
        align-self: flex-end;
    }

    .bio-3 {
        align-self: end;
        grid-column: 3 / span 2;
        grid-row: 2 / span 1;
        align-self: center;
        padding-bottom: 20px;
    }

    .simon p {
        line-height: 27pt;
        padding: unset;
    }

    .bio-4 {
        grid-column: 5 / 11;
        grid-row: 1 / span 4;
    }


    .discover-2 {
        padding: 80px 120px;
        background-color: #f2f2f2;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .entertainment-img {
        width: 100%;
        grid-column: 2 / span 1;

    }

   .copy-pub {
        grid-column: 1 / span 1;
        margin: 0 40px 0 0;
        grid-row: 1 / span 1;
    }

    .copy-pub h2 {
        padding: 8px 0;
    }

    .copy-pub p {
        font-size: 18px;
    }

    .copy-pub .btn-more {
        display: flex;
        justify-content: flex-start;
    }

    .about-top {
        margin: 80px 120px;
    }

    .construction-copy {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .con-copy {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        padding-right: 20px;
    }

    .con-copy h1 {
        font-size: 65px;
        line-height: 70pt;
    }

    .construction-img {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }

    .about-img h1, .services-img h1{
        font-size: 72px;
    }

    .who {
        padding: 140px 120px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .who1 {
        grid-column: 1;
        grid-row: 1;
        padding-right: 18px;
    }

    .what {
        grid-column: 2;
        grid-row: 1;
        padding: 0 18px;
    }

    .where {
        grid-column: 3;
        grid-row: 1;
        padding-left: 18px;
    }

    .contact-top {
        padding: 80px 120px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .contact-copy {
        grid-column: 1 / span 3;
        grid-row: 1;
    }

    .contact {
        width: 100%;
        margin: unset;
        grid-column: 4 / span 2;
        grid-row: 1;
    }

    footer .top-arrow a {
        font-size: 16px;
        right: 25px;
        top: 35px;
    }
    
    footer .top-arrow img {
        width: 55px;
        align-self: center;
        padding-bottom: 5px;
    }




    



}


