/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* my code starts here */

*,*:after,*:before {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
}

header {
    background-color: #F1F3F5;
}

.logo-image {
    width: 70%;
    display: block;
    padding-top: 30px;
    margin: auto;
}

.active {
    font-weight: 400;
}

/* nav: the nave is stacked with space between all page names*/
nav ul li a {
    text-align: center; 
    padding: 15px 0;
    margin: 0 auto; 
    display: block;
    font-size: 16px;
    font-weight: lighter;
}

/* I took out the defalt text decor and changed the color for the link and visited */
nav ul li a:link,
nav ul li a:visited {
    text-decoration: none;
    color: #0E110F;
}

/* I made the font bold for when you hover over and click on a menu item */
nav ul li a:hover,
nav ul li a:active {
    color: #0E110F;
    text-decoration: none;
    font-weight: 400;
}

.banner-img img{
    width: 100%;
}

.banner {
    position: relative;
}

.banner-copy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-75%, -50%);
} 

.banner h1, .home .copy h2, .naomi h1{
    font-size: 35px;
    padding-bottom: 25px;
    line-height: 45px;
    font-weight: lighter;
    color: #3F4442;
}

.banner p, .home .copy p, .naomi p {
    font-weight: lighter;
    line-height: 20px;
    padding-bottom: 25px;
    color: #3F4442;
}

.start-btn, .web-btn, .design-btn, .photo-btn {
    width: 140px;
    height: 38px;
    padding: 10px;
    border-radius: 4px;
    background-color: #859875;
    font-size: 18px;
    font-weight: bold;
    display: block;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(18, 74, 58, 50%)
}

.start-btn a, .web-btn a, .design-btn a, .photo-btn a{
    text-decoration: none;
    color: #F2F2F2;
    font-weight: 400;
}

.home {
    margin: 35px;
}

.web img, .design img, .photog img {
    display: block;
    margin: auto;
    padding-top: 35px;
    padding-bottom: 25px;
}

.btn-box {
    display: flex;
    justify-content: end;
}

.top-arrow {
    margin: 35px 35px 10px 35px;
    display: flex;
    justify-content: end;
}

/* About Page */
.naomi {
    margin: 35px;
}

.naomi img{
    width: 200px;
    border-radius: 50% ;
    border: 5px solid #F2F2F2;
    display: block;
    margin: auto;
}

.naomi h2{
    text-align: center;
    font-size: 24px;
    font-weight: lighter;
    color: #3F4442;
    line-height: 15px;
    padding-top: 25px;    
}

.naomi h1 {
    padding-top: 25px;
}

.naomi p {
    line-height: 30px;
}


/* All pages */
footer {
    background-color: #C3D2DA;
    padding: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer .social {
    padding-top: 10px;
}

footer .social a{
    text-decoration: none;
}

footer .social img {
    padding: 0 5px;
    
}





